{"openapi":"3.0.1","info":{"title":"食品藥物開放資料平臺 OpenData API","description":"<h3>資料集分類: 食品</h3>\n<pre>食品類</pre>\n<a href=\"https://data.gov.tw/datasets/search?p=1&size=10&s=_score_desc&cgl-3=516\" target=\"_blank\">政府資料開放平臺</a>\n","license":{"name":"政府資料開放授權條款-第1版","url":"https://data.gov.tw/license"},"version":"1.0.0"},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}],"tags":[{"name":"【6133】不符合食品資訊資料集","description":"<a href=\"https://data.gov.tw/dataset/6133\" target=\"_blank\">政府資料開放平臺 - 不符合食品資訊資料集</a>\n"},{"name":"【6949】違規食品廣告資料集","description":"<a href=\"https://data.gov.tw/dataset/6949\" target=\"_blank\">政府資料開放平臺 - 違規食品廣告資料集</a>\n"},{"name":"【6950】餐飲業食品安全管制系統衛生評鑑證明廠商資料集","description":"<a href=\"https://data.gov.tw/dataset/6950\" target=\"_blank\">政府資料開放平臺 - 餐飲業食品安全管制系統衛生評鑑證明廠商資料集</a>\n"},{"name":"【6951】健康食品資料集","description":"<a href=\"https://data.gov.tw/dataset/6951\" target=\"_blank\">政府資料開放平臺 - 健康食品資料集</a>\n"},{"name":"【8450】基因改造食品原料資料集","description":"<a href=\"https://data.gov.tw/dataset/8450\" target=\"_blank\">政府資料開放平臺 - 基因改造食品原料資料集</a>\n"},{"name":"【8451】嬰兒與較大嬰兒配方食品資料集","description":"<a href=\"https://data.gov.tw/dataset/8451\" target=\"_blank\">政府資料開放平臺 - 嬰兒與較大嬰兒配方食品資料集</a>\n"},{"name":"【8452】食品原料整合查詢平臺資料集","description":"<a href=\"https://data.gov.tw/dataset/8452\" target=\"_blank\">政府資料開放平臺 - 食品原料整合查詢平臺資料集</a>\n"},{"name":"【8454】餐飲業優良業者名單資料集","description":"<a href=\"https://data.gov.tw/dataset/8454\" target=\"_blank\">政府資料開放平臺 - 餐飲業優良業者名單資料集</a>\n"},{"name":"【8543】食品營養成分資料集","description":"<a href=\"https://data.gov.tw/dataset/8543\" target=\"_blank\">政府資料開放平臺 - 食品營養成分資料集</a>\n"},{"name":"【8935】市售食品調查蔬果農藥殘留資料集","description":"<a href=\"https://data.gov.tw/dataset/8935\" target=\"_blank\">政府資料開放平臺 - 市售食品調查蔬果農藥殘留資料集</a>\n"},{"name":"【8936】食品添加物許可證資料集","description":"<a href=\"https://data.gov.tw/dataset/8936\" target=\"_blank\">政府資料開放平臺 - 食品添加物許可證資料集</a>\n"},{"name":"【8938】食品業者登錄資料集","description":"<a href=\"https://data.gov.tw/dataset/8938\" target=\"_blank\">政府資料開放平臺 - 食品業者登錄資料集</a>\n"},{"name":"【8940】農藥殘留容許量標準_農作物類農產品之分類表","description":"<a href=\"https://data.gov.tw/dataset/8940\" target=\"_blank\">政府資料開放平臺 - 農藥殘留容許量標準_農作物類農產品之分類表</a>\n"},{"name":"【8942】農藥殘留容許量標準_公告禁用農藥一覽表","description":"<a href=\"https://data.gov.tw/dataset/8942\" target=\"_blank\">政府資料開放平臺 - 農藥殘留容許量標準_公告禁用農藥一覽表</a>\n"},{"name":"【8943】農藥殘留容許量標準_得免訂定容許量之農藥一覽表","description":"<a href=\"https://data.gov.tw/dataset/8943\" target=\"_blank\">政府資料開放平臺 - 農藥殘留容許量標準_得免訂定容許量之農藥一覽表</a>\n"},{"name":"【8944】農藥殘留容許量標準_農藥殘留容許量標準","description":"<a href=\"https://data.gov.tw/dataset/8944\" target=\"_blank\">政府資料開放平臺 - 農藥殘留容許量標準_農藥殘留容許量標準</a>\n"},{"name":"【9006】HACCP課程資料集","description":"<a href=\"https://data.gov.tw/dataset/9006\" target=\"_blank\">政府資料開放平臺 - HACCP課程資料集</a>\n"},{"name":"【9007】衛生講習課程資料集","description":"<a href=\"https://data.gov.tw/dataset/9007\" target=\"_blank\">政府資料開放平臺 - 衛生講習課程資料集</a>\n"},{"name":"【9008】優良廚師資料集","description":"<a href=\"https://data.gov.tw/dataset/9008\" target=\"_blank\">政府資料開放平臺 - 優良廚師資料集</a>\n"},{"name":"【9009】中華民國廚師證書資料集","description":"<a href=\"https://data.gov.tw/dataset/9009\" target=\"_blank\">政府資料開放平臺 - 中華民國廚師證書資料集</a>\n"},{"name":"【9013】餐盒食品工廠實施HACCP符合性稽查名單","description":"<a href=\"https://data.gov.tw/dataset/9013\" target=\"_blank\">政府資料開放平臺 - 餐盒食品工廠實施HACCP符合性稽查名單</a>\n"},{"name":"【9046】國產維生素類錠狀膠囊狀食品資料集","description":"<a href=\"https://data.gov.tw/dataset/9046\" target=\"_blank\">政府資料開放平臺 - 國產維生素類錠狀膠囊狀食品資料集</a>\n"},{"name":"【9047】輸入錠狀膠囊狀食品查驗登記資料集","description":"<a href=\"https://data.gov.tw/dataset/9047\" target=\"_blank\">政府資料開放平臺 - 輸入錠狀膠囊狀食品查驗登記資料集</a>\n"},{"name":"【9048】基因改造食品原料英文資料集","description":"<a href=\"https://data.gov.tw/dataset/9048\" target=\"_blank\">政府資料開放平臺 - 基因改造食品原料英文資料集</a>\n"},{"name":"【9639】食品法規條文資料集","description":"<a href=\"https://data.gov.tw/dataset/9639\" target=\"_blank\">政府資料開放平臺 - 食品法規條文資料集</a>\n"},{"name":"【9640】食品添加物使用範圍及限量暨規格標準資料集","description":"<a href=\"https://data.gov.tw/dataset/9640\" target=\"_blank\">政府資料開放平臺 - 食品添加物使用範圍及限量暨規格標準資料集</a>\n"},{"name":"【9641】消費紅綠燈-國際食品資料集","description":"<a href=\"https://data.gov.tw/dataset/9641\" target=\"_blank\">政府資料開放平臺 - 消費紅綠燈-國際食品資料集</a>\n"},{"name":"【9642】病人用特殊營養食品許可資料集","description":"<a href=\"https://data.gov.tw/dataset/9642\" target=\"_blank\">政府資料開放平臺 - 病人用特殊營養食品許可資料集</a>\n"},{"name":"【9816】食品添加物業者及產品登錄資料集","description":"<a href=\"https://data.gov.tw/dataset/9816\" target=\"_blank\">政府資料開放平臺 - 食品添加物業者及產品登錄資料集</a>\n"},{"name":"【9835】食品中毒案件各月別案件數統計","description":"<a href=\"https://data.gov.tw/dataset/9835\" target=\"_blank\">政府資料開放平臺 - 食品中毒案件各月別案件數統計</a>\n"},{"name":"【9836】食品中毒案件病因物質案件數統計","description":"<a href=\"https://data.gov.tw/dataset/9836\" target=\"_blank\">政府資料開放平臺 - 食品中毒案件病因物質案件數統計</a>\n"},{"name":"【9837】食品中毒案件原因食品案件數統計","description":"<a href=\"https://data.gov.tw/dataset/9837\" target=\"_blank\">政府資料開放平臺 - 食品中毒案件原因食品案件數統計</a>\n"},{"name":"【9838】食品中毒案件攝食場所案件數統計","description":"<a href=\"https://data.gov.tw/dataset/9838\" target=\"_blank\">政府資料開放平臺 - 食品中毒案件攝食場所案件數統計</a>\n"},{"name":"【9839】食品中毒案件攝食場所患者數統計","description":"<a href=\"https://data.gov.tw/dataset/9839\" target=\"_blank\">政府資料開放平臺 - 食品中毒案件攝食場所患者數統計</a>\n"},{"name":"【9840】食品中毒案件食品被污染或處置錯誤場所案件數統計","description":"<a href=\"https://data.gov.tw/dataset/9840\" target=\"_blank\">政府資料開放平臺 - 食品中毒案件食品被污染或處置錯誤場所案件數統計</a>\n"},{"name":"【11507】HACCP課程辦理單位名單資料集","description":"<a href=\"https://data.gov.tw/dataset/11507\" target=\"_blank\">政府資料開放平臺 - HACCP課程辦理單位名單資料集</a>\n"},{"name":"【11508】衛生講習機構名單資料集","description":"<a href=\"https://data.gov.tw/dataset/11508\" target=\"_blank\">政府資料開放平臺 - 衛生講習機構名單資料集</a>\n"},{"name":"【11509】廚師證書辦理單位名單資料集","description":"<a href=\"https://data.gov.tw/dataset/11509\" target=\"_blank\">政府資料開放平臺 - 廚師證書辦理單位名單資料集</a>\n"},{"name":"【14178】各年度各國食品輸入重量前10名資料集","description":"<a href=\"https://data.gov.tw/dataset/14178\" target=\"_blank\">政府資料開放平臺 - 各年度各國食品輸入重量前10名資料集</a>\n"},{"name":"【14179】各年度輸入重量前10名之中分類產品資料集","description":"<a href=\"https://data.gov.tw/dataset/14179\" target=\"_blank\">政府資料開放平臺 - 各年度輸入重量前10名之中分類產品資料集</a>\n"},{"name":"【14180】各年度輸入食品各中分類產品檢驗結果資料集","description":"<a href=\"https://data.gov.tw/dataset/14180\" target=\"_blank\">政府資料開放平臺 - 各年度輸入食品各中分類產品檢驗結果資料集</a>\n"},{"name":"【14181】各年度輸入食品各檢驗項目檢驗結果資料集","description":"<a href=\"https://data.gov.tw/dataset/14181\" target=\"_blank\">政府資料開放平臺 - 各年度輸入食品各檢驗項目檢驗結果資料集</a>\n"},{"name":"【14187】市售食品中殘留動物用藥監測結果資料集","description":"<a href=\"https://data.gov.tw/dataset/14187\" target=\"_blank\">政府資料開放平臺 - 市售食品中殘留動物用藥監測結果資料集</a>\n"},{"name":"【14188】食品中真菌毒素含量監測檢驗結果資料集","description":"<a href=\"https://data.gov.tw/dataset/14188\" target=\"_blank\">政府資料開放平臺 - 食品中真菌毒素含量監測檢驗結果資料集</a>\n"},{"name":"【14189】市售食品中重金屬含量監測檢驗結果資料集","description":"<a href=\"https://data.gov.tw/dataset/14189\" target=\"_blank\">政府資料開放平臺 - 市售食品中重金屬含量監測檢驗結果資料集</a>\n"},{"name":"【14190】塑膠類食品器具容器包裝宣導資訊資料集","description":"<a href=\"https://data.gov.tw/dataset/14190\" target=\"_blank\">政府資料開放平臺 - 塑膠類食品器具容器包裝宣導資訊資料集</a>\n"},{"name":"【20559】食品衛生安全與營養諮議會委員名單資料集","description":"<a href=\"https://data.gov.tw/dataset/20559\" target=\"_blank\">政府資料開放平臺 - 食品衛生安全與營養諮議會委員名單資料集</a>\n"},{"name":"【20560】健康食品、特殊營養食品及膠囊錠狀食品非預期反應諮議小組委員名單資料集","description":"<a href=\"https://data.gov.tw/dataset/20560\" target=\"_blank\">政府資料開放平臺 - 健康食品、特殊營養食品及膠囊錠狀食品非預期反應諮議小組委員名單資料集</a>\n"},{"name":"【20561】健康食品審議小組委員名單資料集","description":"<a href=\"https://data.gov.tw/dataset/20561\" target=\"_blank\">政府資料開放平臺 - 健康食品審議小組委員名單資料集</a>\n"},{"name":"【20562】基因改造食品審議小組委員名單資料集","description":"<a href=\"https://data.gov.tw/dataset/20562\" target=\"_blank\">政府資料開放平臺 - 基因改造食品審議小組委員名單資料集</a>\n"},{"name":"【20563】基因改造食品諮議會委員名單資料集","description":"<a href=\"https://data.gov.tw/dataset/20563\" target=\"_blank\">政府資料開放平臺 - 基因改造食品諮議會委員名單資料集</a>\n"},{"name":"【20564】農藥殘留容許量標準_外源性農藥殘留容許量標準","description":"<a href=\"https://data.gov.tw/dataset/20564\" target=\"_blank\">政府資料開放平臺 - 農藥殘留容許量標準_外源性農藥殘留容許量標準</a>\n"},{"name":"【33575】食品追溯追蹤系統消費者查詢資料集","description":"<a href=\"https://data.gov.tw/dataset/33575\" target=\"_blank\">政府資料開放平臺 - 食品追溯追蹤系統消費者查詢資料集</a>\n"},{"name":"【48579】第二級品管驗證通過之食品業者名單資料集","description":"<a href=\"https://data.gov.tw/dataset/48579\" target=\"_blank\">政府資料開放平臺 - 第二級品管驗證通過之食品業者名單資料集</a>\n"},{"name":"【177894】各類食品輸入情形資料集","description":"<a href=\"https://data.gov.tw/dataset/177894\" target=\"_blank\">政府資料開放平臺 - 各類食品輸入情形資料集</a>\n"}],"paths":{"/opendata/export/52/json":{"get":{"tags":["【6133】不符合食品資訊資料集"],"summary":"【6133】不符合食品資訊資料集 - JSON 格式資料  ","description":"<pre>本資料集係提供進口食品及相關產品之不符合資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/52/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_52","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_52"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/52/csv":{"get":{"tags":["【6133】不符合食品資訊資料集"],"summary":"【6133】不符合食品資訊資料集 - CSV 格式資料","description":"<pre>本資料集係提供進口食品及相關產品之不符合資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/52/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_52","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"產地,主旨,原因,進口商名稱,進口商地址,貨品分類號列,檢驗方法,不合格原因暨檢出量詳細說明,法規限量標準,製造廠或出口商名稱,製造商代碼,牌名,重量,處置情形,發布日期,報驗受理日期,附圖\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/52/xml":{"get":{"tags":["【6133】不符合食品資訊資料集"],"summary":"【6133】不符合食品資訊資料集 - XML 格式資料","description":"<pre>本資料集係提供進口食品及相關產品之不符合資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/52/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_52"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/22/json":{"get":{"tags":["【6949】違規食品廣告資料集"],"summary":"【6949】違規食品廣告資料集 - JSON 格式資料  ","description":"<pre>本資料集匯整由各縣市衛生局行文副知本署之食品違規廣告處分紀錄，可顯示欄位以來文登載者為限，惟本資料集可能因後續修正裁量而有所變動，亦不代表處分主體之產品為違法，請審慎採參。</pre>\n<br/>\n<a href=\"/data/opendata/export/22/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_22","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_22"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/22/csv":{"get":{"tags":["【6949】違規食品廣告資料集"],"summary":"【6949】違規食品廣告資料集 - CSV 格式資料","description":"<pre>本資料集匯整由各縣市衛生局行文副知本署之食品違規廣告處分紀錄，可顯示欄位以來文登載者為限，惟本資料集可能因後續修正裁量而有所變動，亦不代表處分主體之產品為違法，請審慎採參。</pre>\n<br/>\n<a href=\"/data/opendata/export/22/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_22","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"違規產品名稱,違規廠商名稱或負責人,處分機關,處分日期,處分法條,刊播日期,刊播媒體類別,刊播媒體,查處情形\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/22/xml":{"get":{"tags":["【6949】違規食品廣告資料集"],"summary":"【6949】違規食品廣告資料集 - XML 格式資料","description":"<pre>本資料集匯整由各縣市衛生局行文副知本署之食品違規廣告處分紀錄，可顯示欄位以來文登載者為限，惟本資料集可能因後續修正裁量而有所變動，亦不代表處分主體之產品為違法，請審慎採參。</pre>\n<br/>\n<a href=\"/data/opendata/export/22/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_22"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/17/json":{"get":{"tags":["【6950】餐飲業食品安全管制系統衛生評鑑證明廠商資料集"],"summary":"【6950】餐飲業食品安全管制系統衛生評鑑證明廠商資料集 - JSON 格式資料  ","description":"<pre>審核通過之餐飲業食品安全管制系統衛生評鑑證明廠商資料集，餐飲業食品安全管制系統衛生評鑑，係為積極與有效推動餐飲業符合「食品安全管制系統」，以提昇餐飲衛生安全，特建立本評鑑。</pre>\n<br/>\n<a href=\"/data/opendata/export/17/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_17","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_17"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/17/csv":{"get":{"tags":["【6950】餐飲業食品安全管制系統衛生評鑑證明廠商資料集"],"summary":"【6950】餐飲業食品安全管制系統衛生評鑑證明廠商資料集 - CSV 格式資料","description":"<pre>審核通過之餐飲業食品安全管制系統衛生評鑑證明廠商資料集，餐飲業食品安全管制系統衛生評鑑，係為積極與有效推動餐飲業符合「食品安全管制系統」，以提昇餐飲衛生安全，特建立本評鑑。</pre>\n<br/>\n<a href=\"/data/opendata/export/17/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_17","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"證書編號,縣市別,類別,廠商名稱,負責人,地址,電話,證書狀況,證書有效期限,最大安全生產量,食品衛生管理專責人員,管制小組成員,承包商名稱,承包商負責人,承包商地址,承包商電話,備註\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/17/xml":{"get":{"tags":["【6950】餐飲業食品安全管制系統衛生評鑑證明廠商資料集"],"summary":"【6950】餐飲業食品安全管制系統衛生評鑑證明廠商資料集 - XML 格式資料","description":"<pre>審核通過之餐飲業食品安全管制系統衛生評鑑證明廠商資料集，餐飲業食品安全管制系統衛生評鑑，係為積極與有效推動餐飲業符合「食品安全管制系統」，以提昇餐飲衛生安全，特建立本評鑑。</pre>\n<br/>\n<a href=\"/data/opendata/export/17/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_17"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/19/json":{"get":{"tags":["【6951】健康食品資料集"],"summary":"【6951】健康食品資料集 - JSON 格式資料  ","description":"<pre>健康食品是一個法律名稱(『健康食品管理法』)，需經過FDA審查核可後，才可稱為健康食品，由業者主動申請後取得許可證後，才可上市銷售。</pre>\n<br/>\n<a href=\"/data/opendata/export/19/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_19","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_19"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/19/csv":{"get":{"tags":["【6951】健康食品資料集"],"summary":"【6951】健康食品資料集 - CSV 格式資料","description":"<pre>健康食品是一個法律名稱(『健康食品管理法』)，需經過FDA審查核可後，才可稱為健康食品，由業者主動申請後取得許可證後，才可上市銷售。</pre>\n<br/>\n<a href=\"/data/opendata/export/19/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_19","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"許可證字號,類別,中文品名,核可日期,申請商,證況,保健功效相關成分,保健功效,保健功效宣稱,警語,注意事項,網址\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/19/xml":{"get":{"tags":["【6951】健康食品資料集"],"summary":"【6951】健康食品資料集 - XML 格式資料","description":"<pre>健康食品是一個法律名稱(『健康食品管理法』)，需經過FDA審查核可後，才可稱為健康食品，由業者主動申請後取得許可證後，才可上市銷售。</pre>\n<br/>\n<a href=\"/data/opendata/export/19/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_19"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/19/rdf":{"get":{"tags":["【6951】健康食品資料集"],"summary":"【6951】健康食品資料集 - RDF 格式資料","description":"<pre>健康食品是一個法律名稱(『健康食品管理法』)，需經過FDA審查核可後，才可稱為健康食品，由業者主動申請後取得許可證後，才可上市銷售。</pre>\n<br/>\n<a href=\"/data/opendata/export/19/rdf\" target=\"_blank\">下載檔案</a>\n","operationId":"rdf_19","responses":{"200":{"description":"成功","content":{"application/rdf+xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_19"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/1/json":{"get":{"tags":["【8450】基因改造食品原料資料集"],"summary":"【8450】基因改造食品原料資料集 - JSON 格式資料  ","description":"<pre>由專家學者組成基因改造食品審查小組，對基因改造食品原料逐案嚴格審查。藉由本資料集可查詢審核通過之基因改造食品原料。</pre>\n<br/>\n<a href=\"/data/opendata/export/1/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_1","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_1"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/1/csv":{"get":{"tags":["【8450】基因改造食品原料資料集"],"summary":"【8450】基因改造食品原料資料集 - CSV 格式資料","description":"<pre>由專家學者組成基因改造食品審查小組，對基因改造食品原料逐案嚴格審查。藉由本資料集可查詢審核通過之基因改造食品原料。</pre>\n<br/>\n<a href=\"/data/opendata/export/1/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_1","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"國際統一編號,產品類型,種類,品名,轉殖品系,申請者,核准日期,有效期限\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/1/xml":{"get":{"tags":["【8450】基因改造食品原料資料集"],"summary":"【8450】基因改造食品原料資料集 - XML 格式資料","description":"<pre>由專家學者組成基因改造食品審查小組，對基因改造食品原料逐案嚴格審查。藉由本資料集可查詢審核通過之基因改造食品原料。</pre>\n<br/>\n<a href=\"/data/opendata/export/1/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_1"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/11/json":{"get":{"tags":["【8451】嬰兒與較大嬰兒配方食品資料集"],"summary":"【8451】嬰兒與較大嬰兒配方食品資料集 - JSON 格式資料  ","description":"<pre>審核通過之嬰兒配方食品、較大嬰兒配方輔助食品及特殊醫療用途嬰兒配方食品之資料集，讓民眾查詢衛生福利部查驗登記許可之嬰兒奶粉清單。</pre>\n<br/>\n<a href=\"/data/opendata/export/11/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_11","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_11"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/11/csv":{"get":{"tags":["【8451】嬰兒與較大嬰兒配方食品資料集"],"summary":"【8451】嬰兒與較大嬰兒配方食品資料集 - CSV 格式資料","description":"<pre>審核通過之嬰兒配方食品、較大嬰兒配方輔助食品及特殊醫療用途嬰兒配方食品之資料集，讓民眾查詢衛生福利部查驗登記許可之嬰兒奶粉清單。</pre>\n<br/>\n<a href=\"/data/opendata/export/11/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_11","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"核備函字號,類別,中文名稱,英文名稱,同一配方品牌,發證日期,有效日期,申請商名稱,申請商電話,申請商地址,劑型,包裝規格,成分,產地,簽審文件編號\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/11/xml":{"get":{"tags":["【8451】嬰兒與較大嬰兒配方食品資料集"],"summary":"【8451】嬰兒與較大嬰兒配方食品資料集 - XML 格式資料","description":"<pre>審核通過之嬰兒配方食品、較大嬰兒配方輔助食品及特殊醫療用途嬰兒配方食品之資料集，讓民眾查詢衛生福利部查驗登記許可之嬰兒奶粉清單。</pre>\n<br/>\n<a href=\"/data/opendata/export/11/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_11"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/4/json":{"get":{"tags":["【8452】食品原料整合查詢平臺資料集"],"summary":"【8452】食品原料整合查詢平臺資料集 - JSON 格式資料  ","description":"<pre>為提升業者查詢原料資訊之便利性，本署於官方網站建置「食品原料整合查詢平臺」，該平臺所列品項不可食或不可食者，皆係彙整歷年經安全評估或常被詢問之食品原料案例，故無法羅列所有傳統食品原料或不得使用之原料。如於平臺中查無搜尋結果，惟所查詢原料屬一般傳統食品原料（如雞鴨魚肉、蔬菜水果及五穀雜糧等），則得供為食品原料使用；倘非屬一般傳統食品原料，則可檢具原料來源（含拉丁學名、使用部位）、詳細加工流程、成分含量規格、使用目的與用量、食用歷史經驗及安全性等相關資訊，供本署綜合研判。</pre>\n<br/>\n<a href=\"/data/opendata/export/4/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_4","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_4"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/4/csv":{"get":{"tags":["【8452】食品原料整合查詢平臺資料集"],"summary":"【8452】食品原料整合查詢平臺資料集 - CSV 格式資料","description":"<pre>為提升業者查詢原料資訊之便利性，本署於官方網站建置「食品原料整合查詢平臺」，該平臺所列品項不可食或不可食者，皆係彙整歷年經安全評估或常被詢問之食品原料案例，故無法羅列所有傳統食品原料或不得使用之原料。如於平臺中查無搜尋結果，惟所查詢原料屬一般傳統食品原料（如雞鴨魚肉、蔬菜水果及五穀雜糧等），則得供為食品原料使用；倘非屬一般傳統食品原料，則可檢具原料來源（含拉丁學名、使用部位）、詳細加工流程、成分含量規格、使用目的與用量、食用歷史經驗及安全性等相關資訊，供本署綜合研判。</pre>\n<br/>\n<a href=\"/data/opendata/export/4/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_4","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"法條版面說明,大分類,次分類,中文名稱,英文名稱,英文學名,部位,備註\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/4/xml":{"get":{"tags":["【8452】食品原料整合查詢平臺資料集"],"summary":"【8452】食品原料整合查詢平臺資料集 - XML 格式資料","description":"<pre>為提升業者查詢原料資訊之便利性，本署於官方網站建置「食品原料整合查詢平臺」，該平臺所列品項不可食或不可食者，皆係彙整歷年經安全評估或常被詢問之食品原料案例，故無法羅列所有傳統食品原料或不得使用之原料。如於平臺中查無搜尋結果，惟所查詢原料屬一般傳統食品原料（如雞鴨魚肉、蔬菜水果及五穀雜糧等），則得供為食品原料使用；倘非屬一般傳統食品原料，則可檢具原料來源（含拉丁學名、使用部位）、詳細加工流程、成分含量規格、使用目的與用量、食用歷史經驗及安全性等相關資訊，供本署綜合研判。</pre>\n<br/>\n<a href=\"/data/opendata/export/4/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_4"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/10/json":{"get":{"tags":["【8454】餐飲業優良業者名單資料集"],"summary":"【8454】餐飲業優良業者名單資料集 - JSON 格式資料  ","description":"<pre>本署為鼓勵符合「食品良好衛生規範（GHP）」之優良餐飲業，繼續維持GHP規範、做好衛生自我管理，以提升餐飲衛生安全，並提供消費者選擇參考，自99年起實施餐飲衛生分級評核制度，由各地方衛生人員、專家學者組成評核小組，對餐飲業者之作業場所、設施及品保制度之管理進行評核。餐飲業者經過評核小組現場評核後，分為「優」及「良」兩級。各衛生局除了公布通過餐飲衛生管理分級評核之商家名稱，並授予「餐飲衛生管理分級評核標章(優)」及「餐飲衛生管理分級評核標章(良)」標章，餐廳業者可張貼於店面明顯處，提供消費者選擇用餐時之參考。</pre>\n<br/>\n<a href=\"/data/opendata/export/10/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_10","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_10"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/10/csv":{"get":{"tags":["【8454】餐飲業優良業者名單資料集"],"summary":"【8454】餐飲業優良業者名單資料集 - CSV 格式資料","description":"<pre>本署為鼓勵符合「食品良好衛生規範（GHP）」之優良餐飲業，繼續維持GHP規範、做好衛生自我管理，以提升餐飲衛生安全，並提供消費者選擇參考，自99年起實施餐飲衛生分級評核制度，由各地方衛生人員、專家學者組成評核小組，對餐飲業者之作業場所、設施及品保制度之管理進行評核。餐飲業者經過評核小組現場評核後，分為「優」及「良」兩級。各衛生局除了公布通過餐飲衛生管理分級評核之商家名稱，並授予「餐飲衛生管理分級評核標章(優)」及「餐飲衛生管理分級評核標章(良)」標章，餐廳業者可張貼於店面明顯處，提供消費者選擇用餐時之參考。</pre>\n<br/>\n<a href=\"/data/opendata/export/10/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_10","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,餐飲業別,業者名稱,營業地址,等級\n\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/10/xml":{"get":{"tags":["【8454】餐飲業優良業者名單資料集"],"summary":"【8454】餐飲業優良業者名單資料集 - XML 格式資料","description":"<pre>本署為鼓勵符合「食品良好衛生規範（GHP）」之優良餐飲業，繼續維持GHP規範、做好衛生自我管理，以提升餐飲衛生安全，並提供消費者選擇參考，自99年起實施餐飲衛生分級評核制度，由各地方衛生人員、專家學者組成評核小組，對餐飲業者之作業場所、設施及品保制度之管理進行評核。餐飲業者經過評核小組現場評核後，分為「優」及「良」兩級。各衛生局除了公布通過餐飲衛生管理分級評核之商家名稱，並授予「餐飲衛生管理分級評核標章(優)」及「餐飲衛生管理分級評核標章(良)」標章，餐廳業者可張貼於店面明顯處，提供消費者選擇用餐時之參考。</pre>\n<br/>\n<a href=\"/data/opendata/export/10/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_10"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/20/json":{"get":{"tags":["【8543】食品營養成分資料集"],"summary":"【8543】食品營養成分資料集 - JSON 格式資料  ","description":"<pre>食品營養成分資料集主要開放的對象為：民眾、營養師、業者…等，可參考此資料集的資料，了解食材中所含之營養成分含量，亦可作為飲食指南參考。</pre>\n<br/>\n<a href=\"/data/opendata/export/20/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_20","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_20"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/20/csv":{"get":{"tags":["【8543】食品營養成分資料集"],"summary":"【8543】食品營養成分資料集 - CSV 格式資料","description":"<pre>食品營養成分資料集主要開放的對象為：民眾、營養師、業者…等，可參考此資料集的資料，了解食材中所含之營養成分含量，亦可作為飲食指南參考。</pre>\n<br/>\n<a href=\"/data/opendata/export/20/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_20","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"食品分類,資料類別,整合編號,樣品名稱,俗名,樣品英文名稱,內容物描述,廢棄率,分析項分類,分析項,含量單位,每100克含量,樣本數,標準差,每單位含量,每單位重,每單位重含量\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/20/xml":{"get":{"tags":["【8543】食品營養成分資料集"],"summary":"【8543】食品營養成分資料集 - XML 格式資料","description":"<pre>食品營養成分資料集主要開放的對象為：民眾、營養師、業者…等，可參考此資料集的資料，了解食材中所含之營養成分含量，亦可作為飲食指南參考。</pre>\n<br/>\n<a href=\"/data/opendata/export/20/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_20"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/21/json":{"get":{"tags":["【8935】市售食品調查蔬果農藥殘留資料集"],"summary":"【8935】市售食品調查蔬果農藥殘留資料集 - JSON 格式資料  ","description":"<pre>本資料集提供市售蔬果農產品農藥殘留監測結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/21/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_21","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_21"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/21/csv":{"get":{"tags":["【8935】市售食品調查蔬果農藥殘留資料集"],"summary":"【8935】市售食品調查蔬果農藥殘留資料集 - CSV 格式資料","description":"<pre>本資料集提供市售蔬果農產品農藥殘留監測結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/21/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_21","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,月份區間,分類,檢體名稱,農藥殘留量,抽樣衛生局,抽樣地點\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/21/xml":{"get":{"tags":["【8935】市售食品調查蔬果農藥殘留資料集"],"summary":"【8935】市售食品調查蔬果農藥殘留資料集 - XML 格式資料","description":"<pre>本資料集提供市售蔬果農產品農藥殘留監測結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/21/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_21"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/3/json":{"get":{"tags":["【8936】食品添加物許可證資料集"],"summary":"【8936】食品添加物許可證資料集 - JSON 格式資料  ","description":"<pre>藉由本資料集可查詢經衛生福利部查驗登記核可之產品資料。</pre>\n<br/>\n<a href=\"/data/opendata/export/3/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_3","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_3"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/3/csv":{"get":{"tags":["【8936】食品添加物許可證資料集"],"summary":"【8936】食品添加物許可證資料集 - CSV 格式資料","description":"<pre>藉由本資料集可查詢經衛生福利部查驗登記核可之產品資料。</pre>\n<br/>\n<a href=\"/data/opendata/export/3/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_3","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"許可證字號,中文品名,英文品名,有效日期,申請商名稱,發證日期,申請商電話,劑型,用途,簽審文件,製造廠國別,成分,申請商地址,包裝量及單位\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/3/xml":{"get":{"tags":["【8936】食品添加物許可證資料集"],"summary":"【8936】食品添加物許可證資料集 - XML 格式資料","description":"<pre>藉由本資料集可查詢經衛生福利部查驗登記核可之產品資料。</pre>\n<br/>\n<a href=\"/data/opendata/export/3/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_3"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/3/rdf":{"get":{"tags":["【8936】食品添加物許可證資料集"],"summary":"【8936】食品添加物許可證資料集 - RDF 格式資料","description":"<pre>藉由本資料集可查詢經衛生福利部查驗登記核可之產品資料。</pre>\n<br/>\n<a href=\"/data/opendata/export/3/rdf\" target=\"_blank\">下載檔案</a>\n","operationId":"rdf_3","responses":{"200":{"description":"成功","content":{"application/rdf+xml":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_3"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/97/json":{"get":{"tags":["【8938】食品業者登錄資料集"],"summary":"【8938】食品業者登錄資料集 - JSON 格式資料  ","description":"<pre>藉由本資料集可查詢於食品業者登錄平台完成登錄之食品業者資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/97/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_97","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_97"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/97/csv":{"get":{"tags":["【8938】食品業者登錄資料集"],"summary":"【8938】食品業者登錄資料集 - CSV 格式資料","description":"<pre>藉由本資料集可查詢於食品業者登錄平台完成登錄之食品業者資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/97/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_97","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"公司或商業登記名稱,公司統一編號,業者地址,食品業者登錄字號,登錄項目\n\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/97/xml":{"get":{"tags":["【8938】食品業者登錄資料集"],"summary":"【8938】食品業者登錄資料集 - XML 格式資料","description":"<pre>藉由本資料集可查詢於食品業者登錄平台完成登錄之食品業者資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/97/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_97"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/16/json":{"get":{"tags":["【8940】農藥殘留容許量標準_農作物類農產品之分類表"],"summary":"【8940】農藥殘留容許量標準_農作物類農產品之分類表 - JSON 格式資料  ","description":"<pre>表列適用於農藥殘留容許量標準之農作物類農產品之分類表。</pre>\n<br/>\n<a href=\"/data/opendata/export/16/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_16","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_16"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/16/csv":{"get":{"tags":["【8940】農藥殘留容許量標準_農作物類農產品之分類表"],"summary":"【8940】農藥殘留容許量標準_農作物類農產品之分類表 - CSV 格式資料","description":"<pre>表列適用於農藥殘留容許量標準之農作物類農產品之分類表。</pre>\n<br/>\n<a href=\"/data/opendata/export/16/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_16","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"類別,農作物類農產品\n\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/16/xml":{"get":{"tags":["【8940】農藥殘留容許量標準_農作物類農產品之分類表"],"summary":"【8940】農藥殘留容許量標準_農作物類農產品之分類表 - XML 格式資料","description":"<pre>表列適用於農藥殘留容許量標準之農作物類農產品之分類表。</pre>\n<br/>\n<a href=\"/data/opendata/export/16/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_16"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/15/json":{"get":{"tags":["【8942】農藥殘留容許量標準_公告禁用農藥一覽表"],"summary":"【8942】農藥殘留容許量標準_公告禁用農藥一覽表 - JSON 格式資料  ","description":"<pre>正面表列規定公告禁用農藥。</pre>\n<br/>\n<a href=\"/data/opendata/export/15/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_15","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_15"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/15/csv":{"get":{"tags":["【8942】農藥殘留容許量標準_公告禁用農藥一覽表"],"summary":"【8942】農藥殘留容許量標準_公告禁用農藥一覽表 - CSV 格式資料","description":"<pre>正面表列規定公告禁用農藥。</pre>\n<br/>\n<a href=\"/data/opendata/export/15/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_15","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"農藥名稱,英文名稱,禁止製造或輸入日期,禁止銷售或使用日期\n\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/15/xml":{"get":{"tags":["【8942】農藥殘留容許量標準_公告禁用農藥一覽表"],"summary":"【8942】農藥殘留容許量標準_公告禁用農藥一覽表 - XML 格式資料","description":"<pre>正面表列規定公告禁用農藥。</pre>\n<br/>\n<a href=\"/data/opendata/export/15/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_15"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/14/json":{"get":{"tags":["【8943】農藥殘留容許量標準_得免訂定容許量之農藥一覽表"],"summary":"【8943】農藥殘留容許量標準_得免訂定容許量之農藥一覽表 - JSON 格式資料  ","description":"<pre>正面表列得免訂定容許量之農藥。</pre>\n<br/>\n<a href=\"/data/opendata/export/14/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_14","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_14"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/14/csv":{"get":{"tags":["【8943】農藥殘留容許量標準_得免訂定容許量之農藥一覽表"],"summary":"【8943】農藥殘留容許量標準_得免訂定容許量之農藥一覽表 - CSV 格式資料","description":"<pre>正面表列得免訂定容許量之農藥。</pre>\n<br/>\n<a href=\"/data/opendata/export/14/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_14","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"農藥名稱,英文名稱\n\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/14/xml":{"get":{"tags":["【8943】農藥殘留容許量標準_得免訂定容許量之農藥一覽表"],"summary":"【8943】農藥殘留容許量標準_得免訂定容許量之農藥一覽表 - XML 格式資料","description":"<pre>正面表列得免訂定容許量之農藥。</pre>\n<br/>\n<a href=\"/data/opendata/export/14/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_14"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/13/json":{"get":{"tags":["【8944】農藥殘留容許量標準_農藥殘留容許量標準"],"summary":"【8944】農藥殘留容許量標準_農藥殘留容許量標準 - JSON 格式資料  ","description":"<pre>正面表列規定農藥殘留容許量標準。</pre>\n<br/>\n<a href=\"/data/opendata/export/13/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_13","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_13"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/13/csv":{"get":{"tags":["【8944】農藥殘留容許量標準_農藥殘留容許量標準"],"summary":"【8944】農藥殘留容許量標準_農藥殘留容許量標準 - CSV 格式資料","description":"<pre>正面表列規定農藥殘留容許量標準。</pre>\n<br/>\n<a href=\"/data/opendata/export/13/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_13","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"國際普通名稱,普通名稱,作物類別,容許量ppm,備註\n\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/13/xml":{"get":{"tags":["【8944】農藥殘留容許量標準_農藥殘留容許量標準"],"summary":"【8944】農藥殘留容許量標準_農藥殘留容許量標準 - XML 格式資料","description":"<pre>正面表列規定農藥殘留容許量標準。</pre>\n<br/>\n<a href=\"/data/opendata/export/13/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_13"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/9/json":{"get":{"tags":["【9006】HACCP課程資料集"],"summary":"【9006】HACCP課程資料集 - JSON 格式資料  ","description":"<pre>各公工會及教育機關辦理HACCP課程資料集，提供我國HACCP課程開課及報名相關資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/9/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_9","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_9"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/9/csv":{"get":{"tags":["【9006】HACCP課程資料集"],"summary":"【9006】HACCP課程資料集 - CSV 格式資料","description":"<pre>各公工會及教育機關辦理HACCP課程資料集，提供我國HACCP課程開課及報名相關資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/9/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_9","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"講習類別,講習開始日期,講習結束日期,講習時數,參加對象,招收人數,講習縣市,報名方式,講習地點,報名類別,報名開始日期,報名結束日期,報名地點,承辦單位,承辦人,連絡電話,承辦人Email,核備單位,核備文號,核備日期,備註說明,會員講習費用,非會員講習費用,課程名稱,時數,講師姓名,上課時間\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/9/xml":{"get":{"tags":["【9006】HACCP課程資料集"],"summary":"【9006】HACCP課程資料集 - XML 格式資料","description":"<pre>各公工會及教育機關辦理HACCP課程資料集，提供我國HACCP課程開課及報名相關資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/9/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_9"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/8/json":{"get":{"tags":["【9007】衛生講習課程資料集"],"summary":"【9007】衛生講習課程資料集 - JSON 格式資料  ","description":"<pre>各公工會及教育機關辦理廚證衛生講習課程資料集，提供我國衛生講習課程開課及報名相關資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/8/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_8","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_8"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/8/csv":{"get":{"tags":["【9007】衛生講習課程資料集"],"summary":"【9007】衛生講習課程資料集 - CSV 格式資料","description":"<pre>各公工會及教育機關辦理廚證衛生講習課程資料集，提供我國衛生講習課程開課及報名相關資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/8/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_8","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"講習類別,講習開始日期,講習結束日期,講習時數,參加對象,招收人數,講習縣市,報名方式,講習地點,報名類別,報名開始日期,報名結束日期,報名地點,承辦單位,承辦人,連絡電話,承辦人Email,核備單位,核備文號,核備日期,備註說明,會員講習費用,非會員講習費用,課程名稱,時數,講師姓名,上課時間\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/8/xml":{"get":{"tags":["【9007】衛生講習課程資料集"],"summary":"【9007】衛生講習課程資料集 - XML 格式資料","description":"<pre>各公工會及教育機關辦理廚證衛生講習課程資料集，提供我國衛生講習課程開課及報名相關資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/8/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_8"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/7/json":{"get":{"tags":["【9008】優良廚師資料集"],"summary":"【9008】優良廚師資料集 - JSON 格式資料  ","description":"<pre>衛生福利部食品藥物管理署為宣導持證廚師再教育並表揚我國優秀餐飲從業廚師，特設立此「TFDA優良廚師」表揚活動。</pre>\n<br/>\n<a href=\"/data/opendata/export/7/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_7","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_7"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/7/csv":{"get":{"tags":["【9008】優良廚師資料集"],"summary":"【9008】優良廚師資料集 - CSV 格式資料","description":"<pre>衛生福利部食品藥物管理署為宣導持證廚師再教育並表揚我國優秀餐飲從業廚師，特設立此「TFDA優良廚師」表揚活動。</pre>\n<br/>\n<a href=\"/data/opendata/export/7/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_7","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,季別,優良事蹟,公告日期,編號,姓名\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/7/xml":{"get":{"tags":["【9008】優良廚師資料集"],"summary":"【9008】優良廚師資料集 - XML 格式資料","description":"<pre>衛生福利部食品藥物管理署為宣導持證廚師再教育並表揚我國優秀餐飲從業廚師，特設立此「TFDA優良廚師」表揚活動。</pre>\n<br/>\n<a href=\"/data/opendata/export/7/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_7"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/6/json":{"get":{"tags":["【9009】中華民國廚師證書資料集"],"summary":"【9009】中華民國廚師證書資料集 - JSON 格式資料  ","description":"<pre>廚師證書及廚師相關資料資料集，為換發廚師證書，本資料集有當事人之工作地址、技術士證(中餐、西餐；乙級、丙級)。</pre>\n<br/>\n<a href=\"/data/opendata/export/6/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_6","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_6"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/6/csv":{"get":{"tags":["【9009】中華民國廚師證書資料集"],"summary":"【9009】中華民國廚師證書資料集 - CSV 格式資料","description":"<pre>廚師證書及廚師相關資料資料集，為換發廚師證書，本資料集有當事人之工作地址、技術士證(中餐、西餐；乙級、丙級)。</pre>\n<br/>\n<a href=\"/data/opendata/export/6/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_6","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"工作地址,發證日期起,發證日期迄,職類等級,任職單位\n\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/6/xml":{"get":{"tags":["【9009】中華民國廚師證書資料集"],"summary":"【9009】中華民國廚師證書資料集 - XML 格式資料","description":"<pre>廚師證書及廚師相關資料資料集，為換發廚師證書，本資料集有當事人之工作地址、技術士證(中餐、西餐；乙級、丙級)。</pre>\n<br/>\n<a href=\"/data/opendata/export/6/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_6"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/28/json":{"get":{"tags":["【9013】餐盒食品工廠實施HACCP符合性稽查名單"],"summary":"【9013】餐盒食品工廠實施HACCP符合性稽查名單 - JSON 格式資料  ","description":"<pre>(全名)衛生機關執行餐盒食品工廠實施食品安全管制系統符合性稽查結果名單。</pre>\n<br/>\n<a href=\"/data/opendata/export/28/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_28","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_28"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/28/csv":{"get":{"tags":["【9013】餐盒食品工廠實施HACCP符合性稽查名單"],"summary":"【9013】餐盒食品工廠實施HACCP符合性稽查名單 - CSV 格式資料","description":"<pre>(全名)衛生機關執行餐盒食品工廠實施食品安全管制系統符合性稽查結果名單。</pre>\n<br/>\n<a href=\"/data/opendata/export/28/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_28","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"縣市,業者名稱,地址,公告類別,每日最大安全生產量_餐食份\n\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/28/xml":{"get":{"tags":["【9013】餐盒食品工廠實施HACCP符合性稽查名單"],"summary":"【9013】餐盒食品工廠實施HACCP符合性稽查名單 - XML 格式資料","description":"<pre>(全名)衛生機關執行餐盒食品工廠實施食品安全管制系統符合性稽查結果名單。</pre>\n<br/>\n<a href=\"/data/opendata/export/28/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_28"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/24/json":{"get":{"tags":["【9046】國產維生素類錠狀膠囊狀食品資料集"],"summary":"【9046】國產維生素類錠狀膠囊狀食品資料集 - JSON 格式資料  ","description":"<pre>我國自100年1月起實施「國產維生素類錠狀膠囊狀食品查驗登記」，依衛生福利部107年2月12日衛授食字第1061303461號公告規定，國內產製型態屬錠狀(係指生產過程中經過打錠步驟者)、膠囊狀食品，配方中任一維生素，其每日攝取量於「應辦理查驗登記之國產維生素類錠狀、膠囊狀食品認定基準表」之認定基準範圍者，即須辦理查驗登記，並於取得查驗登記許可後始准予生產製造、販售流通。</pre>\n<br/>\n<a href=\"/data/opendata/export/24/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_24","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_24"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/24/csv":{"get":{"tags":["【9046】國產維生素類錠狀膠囊狀食品資料集"],"summary":"【9046】國產維生素類錠狀膠囊狀食品資料集 - CSV 格式資料","description":"<pre>我國自100年1月起實施「國產維生素類錠狀膠囊狀食品查驗登記」，依衛生福利部107年2月12日衛授食字第1061303461號公告規定，國內產製型態屬錠狀(係指生產過程中經過打錠步驟者)、膠囊狀食品，配方中任一維生素，其每日攝取量於「應辦理查驗登記之國產維生素類錠狀、膠囊狀食品認定基準表」之認定基準範圍者，即須辦理查驗登記，並於取得查驗登記許可後始准予生產製造、販售流通。</pre>\n<br/>\n<a href=\"/data/opendata/export/24/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_24","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"查驗登記證號,中文品名,英文品名,有效日期,發證日期,申請商名稱,申請商電話,申請商地址,成分\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/24/xml":{"get":{"tags":["【9046】國產維生素類錠狀膠囊狀食品資料集"],"summary":"【9046】國產維生素類錠狀膠囊狀食品資料集 - XML 格式資料","description":"<pre>我國自100年1月起實施「國產維生素類錠狀膠囊狀食品查驗登記」，依衛生福利部107年2月12日衛授食字第1061303461號公告規定，國內產製型態屬錠狀(係指生產過程中經過打錠步驟者)、膠囊狀食品，配方中任一維生素，其每日攝取量於「應辦理查驗登記之國產維生素類錠狀、膠囊狀食品認定基準表」之認定基準範圍者，即須辦理查驗登記，並於取得查驗登記許可後始准予生產製造、販售流通。</pre>\n<br/>\n<a href=\"/data/opendata/export/24/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_24"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/23/json":{"get":{"tags":["【9047】輸入錠狀膠囊狀食品查驗登記資料集"],"summary":"【9047】輸入錠狀膠囊狀食品查驗登記資料集 - JSON 格式資料  ","description":"<pre>藉由本資料集可查詢經衛生福利部查驗登記核備之輸入膠囊錠狀食品相關資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/23/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_23","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_23"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/23/csv":{"get":{"tags":["【9047】輸入錠狀膠囊狀食品查驗登記資料集"],"summary":"【9047】輸入錠狀膠囊狀食品查驗登記資料集 - CSV 格式資料","description":"<pre>藉由本資料集可查詢經衛生福利部查驗登記核備之輸入膠囊錠狀食品相關資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/23/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_23","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"核備函字號,中文品名,英文品名,有效日期,發證日期,申請商名稱,申請商電話,申請商地址,成分,簽審文件編號\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/23/xml":{"get":{"tags":["【9047】輸入錠狀膠囊狀食品查驗登記資料集"],"summary":"【9047】輸入錠狀膠囊狀食品查驗登記資料集 - XML 格式資料","description":"<pre>藉由本資料集可查詢經衛生福利部查驗登記核備之輸入膠囊錠狀食品相關資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/23/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_23"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/2/json":{"get":{"tags":["【9048】基因改造食品原料英文資料集"],"summary":"【9048】基因改造食品原料英文資料集 - JSON 格式資料  ","description":"<pre>由專家學者組成基因改造食品審查小組，對基因改造食品原料逐案嚴格審查。藉由本資料集可查詢審核通過之基因改造食品原料(英文版)。 Current Approvals of Genetically Modified foods in Taiwan。</pre>\n<br/>\n<a href=\"/data/opendata/export/2/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_2","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_2"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/2/csv":{"get":{"tags":["【9048】基因改造食品原料英文資料集"],"summary":"【9048】基因改造食品原料英文資料集 - CSV 格式資料","description":"<pre>由專家學者組成基因改造食品審查小組，對基因改造食品原料逐案嚴格審查。藉由本資料集可查詢審核通過之基因改造食品原料(英文版)。 Current Approvals of Genetically Modified foods in Taiwan。</pre>\n<br/>\n<a href=\"/data/opendata/export/2/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_2","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"UNIQUE_IDENTIFIER,PRODUCT_TYPE,PRODUCT,NAME,EVENT,APPLICANT,DATE_OF_EXPIRATION,DATE_OF_APPROVAL\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/2/xml":{"get":{"tags":["【9048】基因改造食品原料英文資料集"],"summary":"【9048】基因改造食品原料英文資料集 - XML 格式資料","description":"<pre>由專家學者組成基因改造食品審查小組，對基因改造食品原料逐案嚴格審查。藉由本資料集可查詢審核通過之基因改造食品原料(英文版)。 Current Approvals of Genetically Modified foods in Taiwan。</pre>\n<br/>\n<a href=\"/data/opendata/export/2/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_2"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/60/json":{"get":{"tags":["【9639】食品法規條文資料集"],"summary":"【9639】食品法規條文資料集 - JSON 格式資料  ","description":"<pre>食品藥物管理署依職掌權責公告訂定食品相關法律規範，包含法律、標準、辦法、指引、要點、函釋…等。</pre>\n<br/>\n<a href=\"/data/opendata/export/60/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_60","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_60"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/60/csv":{"get":{"tags":["【9639】食品法規條文資料集"],"summary":"【9639】食品法規條文資料集 - CSV 格式資料","description":"<pre>食品藥物管理署依職掌權責公告訂定食品相關法律規範，包含法律、標準、辦法、指引、要點、函釋…等。</pre>\n<br/>\n<a href=\"/data/opendata/export/60/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_60","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"類別,法規性質,法規名稱,條文內容,發佈日期,附件下載\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/60/xml":{"get":{"tags":["【9639】食品法規條文資料集"],"summary":"【9639】食品法規條文資料集 - XML 格式資料","description":"<pre>食品藥物管理署依職掌權責公告訂定食品相關法律規範，包含法律、標準、辦法、指引、要點、函釋…等。</pre>\n<br/>\n<a href=\"/data/opendata/export/60/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_60"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/61/json":{"get":{"tags":["【9640】食品添加物使用範圍及限量暨規格標準資料集"],"summary":"【9640】食品添加物使用範圍及限量暨規格標準資料集 - JSON 格式資料  ","description":"<pre>准用之食品添加物功能類別、品項、使用範圍、限量、規格及其他使用規範。</pre>\n<br/>\n<a href=\"/data/opendata/export/61/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_61","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_61"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/61/csv":{"get":{"tags":["【9640】食品添加物使用範圍及限量暨規格標準資料集"],"summary":"【9640】食品添加物使用範圍及限量暨規格標準資料集 - CSV 格式資料","description":"<pre>准用之食品添加物功能類別、品項、使用範圍、限量、規格及其他使用規範。</pre>\n<br/>\n<a href=\"/data/opendata/export/61/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_61","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"類別,中文品名,英文品名,使用食品範圍及限量,使用限制,規格,類別說明\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/61/xml":{"get":{"tags":["【9640】食品添加物使用範圍及限量暨規格標準資料集"],"summary":"【9640】食品添加物使用範圍及限量暨規格標準資料集 - XML 格式資料","description":"<pre>准用之食品添加物功能類別、品項、使用範圍、限量、規格及其他使用規範。</pre>\n<br/>\n<a href=\"/data/opendata/export/61/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_61"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/62/json":{"get":{"tags":["【9641】消費紅綠燈-國際食品資料集"],"summary":"【9641】消費紅綠燈-國際食品資料集 - JSON 格式資料  ","description":"<pre>針對國際回收食品資訊，由專人每日巡查國外衛生機關網站公布之回收食品資訊，查詢是否輸入我國後，針對回收食品警訊內容進行翻譯並彙整後公開的資料。</pre>\n<br/>\n<a href=\"/data/opendata/export/62/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_62","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_62"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/62/csv":{"get":{"tags":["【9641】消費紅綠燈-國際食品資料集"],"summary":"【9641】消費紅綠燈-國際食品資料集 - CSV 格式資料","description":"<pre>針對國際回收食品資訊，由專人每日巡查國外衛生機關網站公布之回收食品資訊，查詢是否輸入我國後，針對回收食品警訊內容進行翻譯並彙整後公開的資料。</pre>\n<br/>\n<a href=\"/data/opendata/export/62/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_62","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"燈號,標題名稱,內容,附檔,更新日期\n\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/62/xml":{"get":{"tags":["【9641】消費紅綠燈-國際食品資料集"],"summary":"【9641】消費紅綠燈-國際食品資料集 - XML 格式資料","description":"<pre>針對國際回收食品資訊，由專人每日巡查國外衛生機關網站公布之回收食品資訊，查詢是否輸入我國後，針對回收食品警訊內容進行翻譯並彙整後公開的資料。</pre>\n<br/>\n<a href=\"/data/opendata/export/62/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_62"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/63/json":{"get":{"tags":["【9642】病人用特殊營養食品許可資料集"],"summary":"【9642】病人用特殊營養食品許可資料集 - JSON 格式資料  ","description":"<pre>藉由本資料集可查詢經衛生福利部查驗登記核准之特定疾病配方食品之食品相關資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/63/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_63","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_63"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/63/csv":{"get":{"tags":["【9642】病人用特殊營養食品許可資料集"],"summary":"【9642】病人用特殊營養食品許可資料集 - CSV 格式資料","description":"<pre>藉由本資料集可查詢經衛生福利部查驗登記核准之特定疾病配方食品之食品相關資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/63/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_63","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"核備函字號,中文名稱,英文名稱,發證日期,有效日期,申請商名稱,申請商電話,申請商地址,劑型,包裝規格,成分,產地,簽審文件編號\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/63/xml":{"get":{"tags":["【9642】病人用特殊營養食品許可資料集"],"summary":"【9642】病人用特殊營養食品許可資料集 - XML 格式資料","description":"<pre>藉由本資料集可查詢經衛生福利部查驗登記核准之特定疾病配方食品之食品相關資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/63/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_63"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/18/json":{"get":{"tags":["【9816】食品添加物業者及產品登錄資料集"],"summary":"【9816】食品添加物業者及產品登錄資料集 - JSON 格式資料  ","description":"<pre>藉由本資料集可查詢於食品業者登錄平台完成登錄之食品添加物業者及產品資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/18/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_18","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_18"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/18/csv":{"get":{"tags":["【9816】食品添加物業者及產品登錄資料集"],"summary":"【9816】食品添加物業者及產品登錄資料集 - CSV 格式資料","description":"<pre>藉由本資料集可查詢於食品業者登錄平台完成登錄之食品添加物業者及產品資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/18/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_18","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"食品業者登錄字號,食品添加物產品登錄碼,公司或商業登記名稱,公司或商業登記地址,公司統一編號,公司型態,中文商品名稱,英文商品名稱,分類,型態\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/18/xml":{"get":{"tags":["【9816】食品添加物業者及產品登錄資料集"],"summary":"【9816】食品添加物業者及產品登錄資料集 - XML 格式資料","description":"<pre>藉由本資料集可查詢於食品業者登錄平台完成登錄之食品添加物業者及產品資訊。</pre>\n<br/>\n<a href=\"/data/opendata/export/18/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_18"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/114/json":{"get":{"tags":["【9835】食品中毒案件各月別案件數統計"],"summary":"【9835】食品中毒案件各月別案件數統計 - JSON 格式資料  ","description":"<pre>本資料集提供民國70年以後「食品中毒案件各月別案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/114/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_114","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_114"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/114/csv":{"get":{"tags":["【9835】食品中毒案件各月別案件數統計"],"summary":"【9835】食品中毒案件各月別案件數統計 - CSV 格式資料","description":"<pre>本資料集提供民國70年以後「食品中毒案件各月別案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/114/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_114","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月,總計\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/114/xml":{"get":{"tags":["【9835】食品中毒案件各月別案件數統計"],"summary":"【9835】食品中毒案件各月別案件數統計 - XML 格式資料","description":"<pre>本資料集提供民國70年以後「食品中毒案件各月別案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/114/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_114"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/115/json":{"get":{"tags":["【9836】食品中毒案件病因物質案件數統計"],"summary":"【9836】食品中毒案件病因物質案件數統計 - JSON 格式資料  ","description":"<pre>本資料集提供民國70年以後「食品中毒案件案件病因物質案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/115/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_115","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_115"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/115/csv":{"get":{"tags":["【9836】食品中毒案件病因物質案件數統計"],"summary":"【9836】食品中毒案件病因物質案件數統計 - CSV 格式資料","description":"<pre>本資料集提供民國70年以後「食品中毒案件案件病因物質案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/115/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_115","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,病因物質判明合計,細菌性中毒小計,腸炎弧菌,沙門氏桿菌,病原性大腸桿菌,金黃色葡萄球菌,仙人掌桿菌,肉毒桿菌,其它,化學物質,天然毒,諾羅病毒,病因物質不明合計\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/115/xml":{"get":{"tags":["【9836】食品中毒案件病因物質案件數統計"],"summary":"【9836】食品中毒案件病因物質案件數統計 - XML 格式資料","description":"<pre>本資料集提供民國70年以後「食品中毒案件案件病因物質案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/115/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_115"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/116/json":{"get":{"tags":["【9837】食品中毒案件原因食品案件數統計"],"summary":"【9837】食品中毒案件原因食品案件數統計 - JSON 格式資料  ","description":"<pre>本資料集提供民國70年以後「食品中毒案件原因食品案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/116/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_116","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_116"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/116/csv":{"get":{"tags":["【9837】食品中毒案件原因食品案件數統計"],"summary":"【9837】食品中毒案件原因食品案件數統計 - CSV 格式資料","description":"<pre>本資料集提供民國70年以後「食品中毒案件原因食品案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/116/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_116","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,原因食品判明合計,水產品,水產加工品,肉類及其加工品,蛋類,乳類,穀類,蔬果類,糕餅糖果類,複合調理食品,其他,原因食品不明合計\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/116/xml":{"get":{"tags":["【9837】食品中毒案件原因食品案件數統計"],"summary":"【9837】食品中毒案件原因食品案件數統計 - XML 格式資料","description":"<pre>本資料集提供民國70年以後「食品中毒案件原因食品案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/116/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_116"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/117/json":{"get":{"tags":["【9838】食品中毒案件攝食場所案件數統計"],"summary":"【9838】食品中毒案件攝食場所案件數統計 - JSON 格式資料  ","description":"<pre>本資料集提供民國70年以後「食品中毒案件攝食場所案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/117/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_117","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_117"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/117/csv":{"get":{"tags":["【9838】食品中毒案件攝食場所案件數統計"],"summary":"【9838】食品中毒案件攝食場所案件數統計 - CSV 格式資料","description":"<pre>本資料集提供民國70年以後「食品中毒案件攝食場所案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/117/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_117","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,自宅,供膳之營業場所,學校,辦公場所,醫療場所,運輸工具,部隊,野外,攤販,外燴,監獄,其他,總計\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/117/xml":{"get":{"tags":["【9838】食品中毒案件攝食場所案件數統計"],"summary":"【9838】食品中毒案件攝食場所案件數統計 - XML 格式資料","description":"<pre>本資料集提供民國70年以後「食品中毒案件攝食場所案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/117/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_117"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/118/json":{"get":{"tags":["【9839】食品中毒案件攝食場所患者數統計"],"summary":"【9839】食品中毒案件攝食場所患者數統計 - JSON 格式資料  ","description":"<pre>本資料集提供民國70年以後「食品中毒案件攝食場所患者數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/118/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_118","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_118"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/118/csv":{"get":{"tags":["【9839】食品中毒案件攝食場所患者數統計"],"summary":"【9839】食品中毒案件攝食場所患者數統計 - CSV 格式資料","description":"<pre>本資料集提供民國70年以後「食品中毒案件攝食場所患者數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/118/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_118","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,自宅,供膳之營業場所,學校,辦公場所,醫療場所,運輸工具,部隊,野外,攤販,外燴,監獄,其他,總計\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/118/xml":{"get":{"tags":["【9839】食品中毒案件攝食場所患者數統計"],"summary":"【9839】食品中毒案件攝食場所患者數統計 - XML 格式資料","description":"<pre>本資料集提供民國70年以後「食品中毒案件攝食場所患者數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/118/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_118"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/119/json":{"get":{"tags":["【9840】食品中毒案件食品被污染或處置錯誤場所案件數統計"],"summary":"【9840】食品中毒案件食品被污染或處置錯誤場所案件數統計 - JSON 格式資料  ","description":"<pre>本資料集提供民國79年以後「食品中毒案件食品被污染或處置錯誤場所案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/119/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_119","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_119"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/119/csv":{"get":{"tags":["【9840】食品中毒案件食品被污染或處置錯誤場所案件數統計"],"summary":"【9840】食品中毒案件食品被污染或處置錯誤場所案件數統計 - CSV 格式資料","description":"<pre>本資料集提供民國79年以後「食品中毒案件食品被污染或處置錯誤場所案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/119/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_119","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,自宅,供膳之營業場所,學校,辦公場所,醫療場所,食品工廠,攤販,販賣地點,部隊,原料食品採集場所,野外,外燴,監獄,其他,不明場所,總計\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/119/xml":{"get":{"tags":["【9840】食品中毒案件食品被污染或處置錯誤場所案件數統計"],"summary":"【9840】食品中毒案件食品被污染或處置錯誤場所案件數統計 - XML 格式資料","description":"<pre>本資料集提供民國79年以後「食品中毒案件食品被污染或處置錯誤場所案件數統計」，以提供一般民眾、業者、學術機構等使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/119/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_119"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/128/json":{"get":{"tags":["【11507】HACCP課程辦理單位名單資料集"],"summary":"【11507】HACCP課程辦理單位名單資料集 - JSON 格式資料  ","description":"<pre>本資料集提供食品藥物管理署認可之HACCP課程辦理單位名單資料，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/128/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_128","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_128"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/128/csv":{"get":{"tags":["【11507】HACCP課程辦理單位名單資料集"],"summary":"【11507】HACCP課程辦理單位名單資料集 - CSV 格式資料","description":"<pre>本資料集提供食品藥物管理署認可之HACCP課程辦理單位名單資料，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/128/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_128","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"名稱,地址,電話,連結\n\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/128/xml":{"get":{"tags":["【11507】HACCP課程辦理單位名單資料集"],"summary":"【11507】HACCP課程辦理單位名單資料集 - XML 格式資料","description":"<pre>本資料集提供食品藥物管理署認可之HACCP課程辦理單位名單資料，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/128/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_128"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/129/json":{"get":{"tags":["【11508】衛生講習機構名單資料集"],"summary":"【11508】衛生講習機構名單資料集 - JSON 格式資料  ","description":"<pre>本資料集提供各縣市衛生局認可之衛生教育講習機構名單資料，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/129/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_129","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_129"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/129/csv":{"get":{"tags":["【11508】衛生講習機構名單資料集"],"summary":"【11508】衛生講習機構名單資料集 - CSV 格式資料","description":"<pre>本資料集提供各縣市衛生局認可之衛生教育講習機構名單資料，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/129/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_129","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"名稱,地址,電話,全國性講習機構,連結\n\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/129/xml":{"get":{"tags":["【11508】衛生講習機構名單資料集"],"summary":"【11508】衛生講習機構名單資料集 - XML 格式資料","description":"<pre>本資料集提供各縣市衛生局認可之衛生教育講習機構名單資料，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/129/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_129"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/130/json":{"get":{"tags":["【11509】廚師證書辦理單位名單資料集"],"summary":"【11509】廚師證書辦理單位名單資料集 - JSON 格式資料  ","description":"<pre>本資料集提供廚師證書辦理單位名單資料，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/130/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_130","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_130"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/130/csv":{"get":{"tags":["【11509】廚師證書辦理單位名單資料集"],"summary":"【11509】廚師證書辦理單位名單資料集 - CSV 格式資料","description":"<pre>本資料集提供廚師證書辦理單位名單資料，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/130/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_130","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"名稱,地址,電話,連結\n\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/130/xml":{"get":{"tags":["【11509】廚師證書辦理單位名單資料集"],"summary":"【11509】廚師證書辦理單位名單資料集 - XML 格式資料","description":"<pre>本資料集提供廚師證書辦理單位名單資料，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/130/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_130"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/137/json":{"get":{"tags":["【14178】各年度各國食品輸入重量前10名資料集"],"summary":"【14178】各年度各國食品輸入重量前10名資料集 - JSON 格式資料  ","description":"<pre>本資料集提供各年度各國食品輸入重量前10名，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/137/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_137","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_137"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/137/csv":{"get":{"tags":["【14178】各年度各國食品輸入重量前10名資料集"],"summary":"【14178】各年度各國食品輸入重量前10名資料集 - CSV 格式資料","description":"<pre>本資料集提供各年度各國食品輸入重量前10名，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/137/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_137","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,排名,國別,輸入重量\n\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/137/xml":{"get":{"tags":["【14178】各年度各國食品輸入重量前10名資料集"],"summary":"【14178】各年度各國食品輸入重量前10名資料集 - XML 格式資料","description":"<pre>本資料集提供各年度各國食品輸入重量前10名，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/137/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_137"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/138/json":{"get":{"tags":["【14179】各年度輸入重量前10名之中分類產品資料集"],"summary":"【14179】各年度輸入重量前10名之中分類產品資料集 - JSON 格式資料  ","description":"<pre>本資料集提供各年度輸入重量10名之中分類產品，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/138/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_138","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_138"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/138/csv":{"get":{"tags":["【14179】各年度輸入重量前10名之中分類產品資料集"],"summary":"【14179】各年度輸入重量前10名之中分類產品資料集 - CSV 格式資料","description":"<pre>本資料集提供各年度輸入重量10名之中分類產品，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/138/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_138","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,排名,產品中分類,輸入重量公噸,佔總輸入重量百分比\n\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/138/xml":{"get":{"tags":["【14179】各年度輸入重量前10名之中分類產品資料集"],"summary":"【14179】各年度輸入重量前10名之中分類產品資料集 - XML 格式資料","description":"<pre>本資料集提供各年度輸入重量10名之中分類產品，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/138/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_138"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/139/json":{"get":{"tags":["【14180】各年度輸入食品各中分類產品檢驗結果資料集"],"summary":"【14180】各年度輸入食品各中分類產品檢驗結果資料集 - JSON 格式資料  ","description":"<pre>本資料集提供各年度輸入食品各中分類產品檢驗結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/139/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_139","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_139"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/139/csv":{"get":{"tags":["【14180】各年度輸入食品各中分類產品檢驗結果資料集"],"summary":"【14180】各年度輸入食品各中分類產品檢驗結果資料集 - CSV 格式資料","description":"<pre>本資料集提供各年度輸入食品各中分類產品檢驗結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/139/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_139","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,產品中分類,查驗批數,檢驗批數,檢驗批數比例,不符合批數,不符合批數比例\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/139/xml":{"get":{"tags":["【14180】各年度輸入食品各中分類產品檢驗結果資料集"],"summary":"【14180】各年度輸入食品各中分類產品檢驗結果資料集 - XML 格式資料","description":"<pre>本資料集提供各年度輸入食品各中分類產品檢驗結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/139/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_139"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/140/json":{"get":{"tags":["【14181】各年度輸入食品各檢驗項目檢驗結果資料集"],"summary":"【14181】各年度輸入食品各檢驗項目檢驗結果資料集 - JSON 格式資料  ","description":"<pre>本資料集提供各年度輸入食品各檢驗項目檢驗結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/140/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_140","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_140"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/140/csv":{"get":{"tags":["【14181】各年度輸入食品各檢驗項目檢驗結果資料集"],"summary":"【14181】各年度輸入食品各檢驗項目檢驗結果資料集 - CSV 格式資料","description":"<pre>本資料集提供各年度輸入食品各檢驗項目檢驗結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/140/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_140","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,檢驗項目,檢驗批數,不合格批數,不合格率一,不合格率二\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/140/xml":{"get":{"tags":["【14181】各年度輸入食品各檢驗項目檢驗結果資料集"],"summary":"【14181】各年度輸入食品各檢驗項目檢驗結果資料集 - XML 格式資料","description":"<pre>本資料集提供各年度輸入食品各檢驗項目檢驗結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/140/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_140"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/147/json":{"get":{"tags":["【14187】市售食品中殘留動物用藥監測結果資料集"],"summary":"【14187】市售食品中殘留動物用藥監測結果資料集 - JSON 格式資料  ","description":"<pre>本資料集提供市售食品中殘留動物用藥監測結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/147/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_147","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_147"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/147/csv":{"get":{"tags":["【14187】市售食品中殘留動物用藥監測結果資料集"],"summary":"【14187】市售食品中殘留動物用藥監測結果資料集 - CSV 格式資料","description":"<pre>本資料集提供市售食品中殘留動物用藥監測結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/147/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_147","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度月份,抽樣衛生局,檢體名稱,抽樣廠商名稱,抽樣廠商地址,檢出項目及殘留容許量\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/147/xml":{"get":{"tags":["【14187】市售食品中殘留動物用藥監測結果資料集"],"summary":"【14187】市售食品中殘留動物用藥監測結果資料集 - XML 格式資料","description":"<pre>本資料集提供市售食品中殘留動物用藥監測結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/147/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_147"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/148/json":{"get":{"tags":["【14188】食品中真菌毒素含量監測檢驗結果資料集"],"summary":"【14188】食品中真菌毒素含量監測檢驗結果資料集 - JSON 格式資料  ","description":"<pre>本資料集提供市售食品中真菌毒素汙染監測計畫檢驗結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/148/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_148","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_148"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/148/csv":{"get":{"tags":["【14188】食品中真菌毒素含量監測檢驗結果資料集"],"summary":"【14188】食品中真菌毒素含量監測檢驗結果資料集 - CSV 格式資料","description":"<pre>本資料集提供市售食品中真菌毒素汙染監測計畫檢驗結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/148/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_148","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,檢體名稱,抽樣廠商名稱,抽樣廠商地址,總黃麴毒素（ppb）,黃麴毒素B1（ppb）,黃麴毒素M1（ppb）,赭麴毒素A（ppb）,橘黴素含量（ppb）,棒麴毒素（ppb）,脫氧雪腐鐮刀菌烯醇（ppb）,玉米赤黴毒素A含量（ppb）,伏馬毒素（B1＋B2）（ppb）,檢驗結果\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/148/xml":{"get":{"tags":["【14188】食品中真菌毒素含量監測檢驗結果資料集"],"summary":"【14188】食品中真菌毒素含量監測檢驗結果資料集 - XML 格式資料","description":"<pre>本資料集提供市售食品中真菌毒素汙染監測計畫檢驗結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/148/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_148"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/149/json":{"get":{"tags":["【14189】市售食品中重金屬含量監測檢驗結果資料集"],"summary":"【14189】市售食品中重金屬含量監測檢驗結果資料集 - JSON 格式資料  ","description":"<pre>本資料集提供食品中重金屬含量監測檢驗結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/149/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_149","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_149"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/149/csv":{"get":{"tags":["【14189】市售食品中重金屬含量監測檢驗結果資料集"],"summary":"【14189】市售食品中重金屬含量監測檢驗結果資料集 - CSV 格式資料","description":"<pre>本資料集提供食品中重金屬含量監測檢驗結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/149/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_149","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年度,類別,檢體名稱,抽樣廠商名稱,抽樣廠商地址,重金屬檢測殘留量鎘含量（ppm）,重金屬檢測殘留量鉛含量（ppm）,重金屬檢測殘留量總汞含量（ppm）,重金屬檢測殘留量甲基汞含量（ppm）,重金屬檢測殘留量總砷含量（ppm）,重金屬檢測殘留量無機砷含量（ppm）,重金屬檢測殘留量銅含量（ppm）,重金屬檢測殘留量錫含量（ppm）,重金屬檢測殘留量銻含量（ppm）,檢驗結果\n\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/149/xml":{"get":{"tags":["【14189】市售食品中重金屬含量監測檢驗結果資料集"],"summary":"【14189】市售食品中重金屬含量監測檢驗結果資料集 - XML 格式資料","description":"<pre>本資料集提供食品中重金屬含量監測檢驗結果，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/149/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_149"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/150/json":{"get":{"tags":["【14190】塑膠類食品器具容器包裝宣導資訊資料集"],"summary":"【14190】塑膠類食品器具容器包裝宣導資訊資料集 - JSON 格式資料  ","description":"<pre>本資料集提供署網的塑膠類食品器具容器包裝宣傳海報，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/150/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_150","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_150"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/150/csv":{"get":{"tags":["【14190】塑膠類食品器具容器包裝宣導資訊資料集"],"summary":"【14190】塑膠類食品器具容器包裝宣導資訊資料集 - CSV 格式資料","description":"<pre>本資料集提供署網的塑膠類食品器具容器包裝宣傳海報，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/150/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_150","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"標題,發布日期,連結\n\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/150/xml":{"get":{"tags":["【14190】塑膠類食品器具容器包裝宣導資訊資料集"],"summary":"【14190】塑膠類食品器具容器包裝宣導資訊資料集 - XML 格式資料","description":"<pre>本資料集提供署網的塑膠類食品器具容器包裝宣傳海報，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/150/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_150"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/168/json":{"get":{"tags":["【20559】食品衛生安全與營養諮議會委員名單資料集"],"summary":"【20559】食品衛生安全與營養諮議會委員名單資料集 - JSON 格式資料  ","description":"<pre>本資料集提供食品衛生安全與營養諮議會委員名單，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/168/json\" target=\"_blank\">下載檔案</a>\n","operationId":"json_168","responses":{"200":{"description":"成功","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Dataset_168"},"types":["array"]},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/168/csv":{"get":{"tags":["【20559】食品衛生安全與營養諮議會委員名單資料集"],"summary":"【20559】食品衛生安全與營養諮議會委員名單資料集 - CSV 格式資料","description":"<pre>本資料集提供食品衛生安全與營養諮議會委員名單，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/168/csv\" target=\"_blank\">下載檔案</a>\n","operationId":"csv_168","responses":{"200":{"description":"成功","content":{"text/csv":{"schema":{"type":"string","example":"年份,職稱,姓名,性別,專長\n\"string\",\"string\",\"string\",\"string\",\"string\""},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/168/xml":{"get":{"tags":["【20559】食品衛生安全與營養諮議會委員名單資料集"],"summary":"【20559】食品衛生安全與營養諮議會委員名單資料集 - XML 格式資料","description":"<pre>本資料集提供食品衛生安全與營養諮議會委員名單，藉此提供學術單位、業者、民眾等使用者使用。</pre>\n<br/>\n<a href=\"/data/opendata/export/168/xml\" target=\"_blank\">下載檔案</a>\n","operationId":"xml","responses":{"200":{"description":"成功","content":{"application/xml":{"schema":{"type":"object","properties":{"rows":{"type":"array","xml":{"name":"rows"},"items":{"$ref":"#/components/schemas/Dataset_168"},"types":["array"]}},"xml":{"name":"dataList","wrapped":true}},"exampleSetFlag":false}}}},"servers":[{"url":"https://data.fda.gov.tw/data","description":"食品藥物開放資料平臺"}]}},"/opendata/export/169/json":{"get":{"tags":["【20560】健康食品、特殊營養食品及膠囊錠狀食品非預期反應諮議小組委員名單資料集"],"summary":"【20560】健康食品、特殊營養食品及膠囊錠狀食品非預期反應諮議小組委員名單資料集 - JSON 格式資料  ","description":"<pre>本資料集提供健康食品及膠囊錠狀食品非預期反應諮議小組委員名單，藉此提供學術單位、業者、民眾
[...]
